<h2 class="w3-center">shopping-cart</h2>

<div class="w3-container">
    <table class="w3-table w3-bordered">
        <thead>
            <tr class="w3-indigo">
                <th>#</th>
                <th>product</th>
                <th>amount</th>
                <th>total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }} ({{ item.price - item.discount}})</td>
            <td>{{ item.amount }}</td>
            <td><input type="number" [(ngModel)]="item.amount" class="w3-input w3-border w3-round" (input)="changeAmount()"></td>
            <td>{{ item.amount * (item.price - item.discount) }} <i class="fa fa-ils"></i></td>
            <td></td>
            </tr>
        </tbody>
    </table>
</div>

<p class="sum" *ngIf="sum">cost: {{ sum | number }} nis</p>