table{
    border: 1px solid ;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
th, td{
    border: 1px solid ;
    padding: 16px;
}
tr:nth-child(even){
    background-color: rgba(162, 161, 161, 0.491);
}
h1, p{
    text-align: center;
}
.completed td:first-child{
    border-left: 5px solid green;
}
.btn{
    border:1px solid black;
    border-radius: 2px;
    background-color:rgb(78, 233, 78);
}