*{
    margin: 0;
    padding: 8px;
}
.frame{
    width: 65%;
    min-height: 800px;
    background-color: rgba(72, 132, 244, 0.654);
    box-shadow: 2px 2px 2px 2px;
    margin: 50px auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 8px;
}
header {
    background-color: blueviolet;
    padding: 20px;
    color: white;
}

h1 {
    background-color: rgba(220, 120, 236, 0.81);
    margin: 0;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 70px;
    text-align: center;
}
button {
    margin-right: 8px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: crimson;
}

button:hover {
    color: white;
    background-color: crimson;
}
