div{
    text-align: center;
   margin-top: 50px;
    max-width: 300px;
    background: skyblue;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000075;
    margin: 30px auto;
    
    h2{
        font-size: 20px;
        color: black;
         margin: 0;
        text-shadow: 1px 1px 2px purple;
    }
    p{
        margin: 0;
        font-size: 50px;
    }
}