
.footer{
    height: 55px;
}
.navbar {
    border-top: 1px solid #9b9d9e;
}
.container{
    margin-top: 25px;
    min-height: 600px;
}
.formContainer{
    margin-bottom: 20px;
}
.container .card {
    width: 390px;
    margin: auto;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-align: center;
}
.card-title{
  padding-bottom: 15px;
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
    color: white !important;

}
.card-p{
    padding-top: 10px;
    color: white !important;
}
.container .card:hover{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.702);
}

.container .card h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0 8px 0;
}

.container .card button {
    color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    margin-bottom: 12px;
}
.btn{
    border: 1px solid black !important;
}
.btn:hover{
    background-color: #212529 !important;
    color: white;
    border: 1px solid white !important;

}