body {
    background-color: rgb(147, 64, 225);
    margin: 0px;
     text-align: center;
     direction: rtl;
  }
  
  
  header {
    background-color: rgb(95, 28, 114);
    color: white;
    height: 100px;
    font-size: 35px;
  }
  h1 {
    margin: 0;
    padding: 6px 8px;
    color: rgb(155, 211, 250);
    font-size: 40px;
  }
    #frame{
    width: 65%;
    min-height: 800px;
    background-color: rgba(57, 242, 255, 0.654);
    box-shadow: 2px 2px 2px 2px;
    margin: 50px auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 8px;
    }
  
  
  .card {
    margin: auto;
    text-align: center;
    border-bottom: 1px solid;
    display: inline-block;
    background: none;
    border: none;
  } 
  
  p {
    font-weight: bold;
    background-color: rgb(183, 87, 176);
    border-radius: 5px;
  }
  
  #output{
    font-size: 30px;
    background-color: rgb(92, 158, 158);
    color: blueviolet;
    text-align: center;
    margin: auto;
  }

  img {
    height: 42px;
}

td img {
    height: 35px;
}

td input {
    width: 90%;
    display: inline-block;
}
