body {
   margin: auto;
}
h1{
    padding: 16px;
    text-align: center;
    background-color: darkcyan;
    color: black;
    border: 2px solid black;
    width: 100%;
    border-radius: 18px;
    margin: auto;
    margin-bottom: 10px;

}
.card{
    margin: auto;
    padding: 15px;
  
    border: 2px solid black;
    background-color: rgb(220, 120, 245);
}
#frame{
    width: 65%;
    min-height: 800px;
    background-color: rgba(57, 242, 255, 0.654);
    box-shadow: 2px 2px 2px 2px;
    margin: 50px auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 8px;
    }
  
    #tbl1{
        margin: 0 auto;
      
      }
    .trs{
        border: 2px solid rgb(255, 255, 255);
        padding: 6px;
        text-align: center;
      } 
    .tds{
        border: 2px solid rgb(255, 255, 255);
        background-color: blueviolet;
        color: white;
        font-size: 30px;
        border-radius: 15px;
        width: 100px;
        height: 100px;
      }
      .tds:hover{
        background-color: rgb(92, 27, 152);
      }
      p{
        text-align: center;
        font-size: 30px;
        color: yellow;
      }
      label{
        text-align: center;
      }