<div class="inputFrame">
    <input placeholder="new task"  type="text" [(ngModel)]="newTask" (keyup.enter)="addTask()" [class.duplicate]="isDuplicate()">
    <button class="w3-btn w3-blue w3-round" routerLink="/recycle-bin"
    >Recycle Bin
    <i class="fa fa-trash"></i></button>
</div>



<div class="displayMode">
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="columns"> columns
    </label>
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="table"> table
    </label>
    <label>
        <input [(ngModel)]="displayMode" class="w3-radio" type="radio" name="displayMode" value="folders"> folders
    </label>
</div>

<div class="frame" *ngIf="displayMode == 'columns'">
    <div *ngFor="let s of sections">
        <h2>{{ s.title }}</h2>

 <div class="column" (dragover)="dragover(s)" [class.drag]="s.isDrag">
      
    
     <div class="cards" [style.background-color]="s.color">

        <div class="card" *ngFor="let item of s.cards" (dragend)="dragend(s, item)" draggable="true" [style.border-color]="UrLevel[item.level].color" (dblclick)="navigateTask(item)" [attr.title]="item.remark"> 
        <!-- [attr.title]="item.remark" -->
            <i class="fa fa-remove" (click)="clearTask(s, item)"></i>

            
            <p>{{ item.task }}</p>


            <select [(ngModel)]="item.level" (click)="changeLevel(item)">
                <option  [style.background-color]="l.color" *ngFor="let l of UrLevel" value="{{ l.level }}">{{ l.title }}</option>
            </select>

                <button  *ngIf="s.status > TaskStatuses.open" (click)="undo(s, item)" style="background: rgb(250, 142, 142);"> previous <i class="fa fa-undo"></i>
                </button>

                <button *ngIf="s.status == TaskStatuses.open" (click)="prossing(s, item)" style="background: lightblue;"> progressing <i class="fa fa-arrow-right"></i>
                </button>

                <button class="w3-right" *ngIf="s.status == TaskStatuses.inProgress" (click)="complete(s, item)" style="background: rgb(143, 245, 143);"
                > done <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div> 
  </div>
</div>


