<h1>{{ user }}</h1>

    <input id="searchInput" type="search" [(ngModel)]="searchVal" placeholder="search">

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>phone</th>
            <th>is blocked</th>
            <th>birthday</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let u of users | search : searchVal; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ u.firstName }}</td>
            <td>{{ u.lastName }}</td>
            <td>{{ u.email | upper}}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.isBlocked }}</td>
            <td>{{ u.birthday | date : 'dd/MM/yyyy' }}</td>
            
            <td><button (click)="remove(u)">x</button></td>
        </tr>
    </tbody>
</table>
