body {
    background-color: rgb(147, 64, 225);
    margin: 0px;
     text-align: center;
  }
  
  
  header {
    background-color: rgb(95, 28, 114);
    color: white;
    height: 100px;
    font-size: 35px;
  }
  h1 {
    margin: 0;
    padding: 6px 8px;
    color: rgb(155, 211, 250);
    font-size: 40px;
  }
    #frame{
    width: 65%;
    min-height: 800px;
    background-color: rgba(57, 242, 255, 0.654);
    box-shadow: 2px 2px 2px 2px;
    margin: 50px auto;
    box-shadow: 0px 0px 40px black;
    border-radius: 8px;
    }
  
  
  .card {
    margin: auto;
    text-align: center;
    border-bottom: 1px solid;
    
  } 
 
  p {
    font-weight: bold;
    background-color: rgb(183, 87, 176);
    border-radius: 5px;
  }
  
  #output, #output2, #output3{
    font-size: 30px;
    background-color: rgb(92, 158, 158);
    color: blueviolet;
    text-align: center;
    margin: auto;
  }
  #bg{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn555{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
  }


 table{
  border: 3px solid black;
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}
td{
  height: 50px;
  width: 100px;
  border: 2px solid;
}
#circleM{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 50%;
  border-radius: 50%;
  position: absolute;margin: auto;
}
.colChange{
  border: 2px dashed red;
  height: 100px;
  width: 100px;
margin: auto;
background-color: hsl(180, 100%, 50%);
}
.img3{
  position: absolute;
  overflow: hidden;
}
#date{
  width: 100px;
  height: 100px;
  background-color: rgb(44, 3, 40);
  color: white;
  padding-top: 15px;
  border: 2px dashed white;
  margin: auto;
}