nav {
    background: #823666;
    color: white;
}

a {
    padding: 16px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a.navActive {
    background-color: #d876f647;
}

a:hover {
    background-color: #d876f648;
}
