<div *ngIf="utility.getUser()" class = "about-wrapper">


    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "../../assets/images/צילום מסך 2023-02-09 013629.jpg" alt = "about image">
            </div>
          </div>

          <h2>Kroll Kim</h2>
          <h3>Web developer</h3>
        </div>

        <ul class ="icons">
          <li><i class = "fab fa-facebook-f"></i></li>
          <li><i class = "fab fa-twitter"></i></li>
          <li><i class = "fab fa-linkedin"></i></li>
          <li><i class = "fab fa-instagram"></i></li>
        </ul>
      </div>
      
    </div>

    <div class = "about-right">
      <h1>Hello<span>!</span></h1>
      <h2>Here's who I am & what I do</h2>
      <div class = "about-btns">
        <button type = "button" class = "btn btn-pink">resume / CV</button>
        <button type = "button" class = "btn btn-white">Git hub</button>
      </div>

      <div class = "about-para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aspernatur possimus ullam quaerat, laboriosam ex voluptate aliquid laborum, obcaecati ratione accusamus! Ea nisi modi dolor nam numquam? Temporibus, molestias amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iure tempora alias laudantium sapiente impedit!</p>
      </div> 
    </div>
</div>
