<button id="addBtn" class="w3-btn w3-green w3-round" routerLink="/market/product">new item <i class="fa fa-plus"></i></button>

<div class="w3-row">
    <div class="w3-third" *ngFor="let item of data">
        <div class="w3-container w3-card">

            <div class="w3-section">
                <h2>{{ item.name }}</h2>
                <h3>{{ item.price }}</h3>
                <h5>discount: <small>{{ item.discount }}</small> nis</h5>
                <h5><b>total: {{ item.price - item.discount }} nis</b></h5>
                <button class="w3-button w3-green w3-round" [routerLink]="['/', 'market', 'product', item.id]">edit</button>
                <button class="w3-button w3-red w3-round" (click)="remove(item)">delete</button>
            </div>
        </div>
    </div>
</div>