body {
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 16px;
    text-align: center;
    background-color: darkcyan;
    color: black;
    border: 2px solid black;
    width: 50%;
    border-radius: 18px;
    margin: auto;
    margin-bottom: 10px;

}
.card {
    width: 18rem;
    margin: 6px;
}
.card{
    float: right;
    margin: auto;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    background-color: rgb(220, 120, 245);
}
.card-title{
    color: black;
    font-weight: bold;
}
.btn{
    color: black;
    font-weight: bold;
    background-color: rgb(55, 252, 236);
}
