
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* עיצוב ה-Body */

body {
    /* כיוון האתר */
    direction: rtl;
    /* רקע */
    background-color: rgb(79, 239, 175);
    /* גופן */
    font-family: 'Secular One', sans-serif;
}

h1 {
    /* יישור טקסט */
    text-align: center;
    /* צבע הטקסט */
    color: white;
    /* גודל הטקסט */
    font-size: 50px;
}

.frame{
    min-height: 500px;
    background-color: #ffffffe3;
    max-width: 900px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 16px;

}

section {
    border-bottom: 1px solid #c9c9c9;
    padding: 16px;
}

p {
    margin: 0;
    margin-bottom: 8px;
}

table {
    margin: auto;
    direction: ltr;
}

td {
    height: 100px;
    width: 100px;
    padding: 3px;
}

td div {
    height: 100%;
    border-radius: 8px;
    font-size: 42px;
    text-align: center;
    padding: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #833fb5;
    cursor: pointer;
}
